*.cp
*.curl
*.everything
*.everything_bin/
*.everything_curl
*.everything_curl/
*.everything_path_pruned
*.everything_renamed
*.everything_md5
*.everything_mv
*.locate
*.locate_0
*.locate_cp
*.locate_head
*.locate_head_1
*.locate_head_2
*.locate_head_3
*.locate_md5
*.locate_pruned
*.md5
*.mv
bin-*/
bin.file
bin/
curl/
everything_curl/
*.updatedb
*.updatedb.n
