*.cp
*.curl
*.everything
*.everything_curl
*.everything_path_pruned
*.locate
*.locate_0
*.locate_head
*.locate_head_1
*.locate_head_2
*.locate_head_3
*.locate_pruned
*.md5
bin/
curl/
*.mv
bin-*/
bin.file
everything_curl/
*.locate_md5
*.locate_cp
