*.cp
*.locate
*.locate_0
*.locate_head
*.locate_head_1
*.locate_head_2
*.locate_head_3
*.locate_pruned
*.md5
*.swp
bin/
home.files
home.keylike.md5s
home.locate-old
home.locate02
home.slocate
ssh.hosts
temp1
home.filetypes
